<!--
Start Blog Section
=========================================== -->
<section class="blog section" id="blog">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="title text-center">
					<h4>Our untold story</h4>
					<h2>Blog.</h2>
					<span class="border"></span>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum reiciendis quasi itaque, obcaecati atque sit!</p>
				</div>
			</div>
		</div>
		<div class="row justify-content-center">
			<!-- single blog post -->
			<article class="col-md-4 col-sm-6" >
				<div class="post-item">
					<div class="post-thumb">
					  	<img class="img-fluid shadow rounded" src="images/blog/post-1.jpg" alt="Generic placeholder image">
					</div>
			  		<div class="post-title">
				    	<h3 class="mt-0"><a href="">Ten things about Business</a></h3>
			  		</div>
			  		<div class="post-meta">
			  			<span>By</span> <a href="" class="">Jonathon Ive</a>
			  		</div>
			  		<div class="post-content">
					    <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est voluptatem accusantium dolorum, maxime eos blanditiis sint enim necessitatibus placeat dolor.</p>
			  		</div>
				    <a class="btn btn-main" href="#">Read more</a>
				</div>
			</article>
			<!-- /single blog post -->
			
			<!-- single blog post -->
				<article class="col-md-4 col-sm-6" >
					<div class="post-item">
						<div class="post-thumb">
						  	<img class="img-fluid shadow rounded" src="images/blog/post-2.jpg" alt="Generic placeholder image">
						</div>
				  		<div class="post-title">
					    	<h3 class="mt-0"><a href="">Something I need to tell you</a></h3>
				  		</div>
				  		<div class="post-meta">
				  			<ul class="list-inline">
				  				<li class="list-inline-item">
				  					<span>By</span> <a href="" class="">Jonathon Ive</a>		
				  				</li>
				  				<li class="list-inline-item">
				  					<span>By</span> <span> 15th December 2017</span>		
				  				</li>
							</ul>
				  		</div>
				  		<div class="post-content">
						    <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est voluptatem accusantium dolorum, maxime eos blanditiis sint enim necessitatibus placeat dolor.</p>
				  		</div>
					    <a class="btn btn-main" href="#">Read more</a>
					</div>
				</article>
			<!-- end single blog post -->
			<!-- single blog post -->
				<article class="col-md-4 col-sm-6" >
					<div class="post-item">
						<div class="post-thumb">
						  	<img class="img-fluid shadow rounded" src="images/blog/post-3.jpg" alt="Generic placeholder image">
						</div>
				  		<div class="post-title">
					    	<h3 class="mt-0"><a href="">Are you doing the Right Way?</a></h3>
				  		</div>
				  		<div class="post-meta">
				  			<ul class="list-inline">
				  				<li class="list-inline-item">
				  					<span>By</span> <a href="" class="">Jonathon Ive</a>		
				  				</li>
				  				<li class="list-inline-item">
				  					<span>By</span> <span> 15th December 2017</span>		
				  				</li>
							</ul>
				  		</div>
				  		<div class="post-content">
						    <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est voluptatem accusantium dolorum, maxime eos blanditiis sint enim necessitatibus placeat dolor.</p>
				  		</div>
					    <a class="btn btn-main" href="#">Read more</a>
					</div>
				</article>
			<!-- end single blog post -->
			
		</div> <!-- end row -->
	</div> <!-- end container -->
</section> <!-- end section -->
				