 <!--
Welcome Slider
==================================== -->
<section class="hero-area">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 mb-4 mb-lg-0">
				<div class="video-player">
					<img class="img-fluid rounded w-100" src="images/slider/video-player-thumb.jpg" alt="">
					<a class="play-icon" href="javascript:void(0)">
						<i class="tf-ion-play" data-video="https://www.youtube.com/embed/g3-VxLQO7do?autoplay=1"></i>
					</a>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="block">
					<h2>We love to make brands grow</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At quo dolor est incidunt suscipit minima, alias numquam voluptatum rerum porro. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore at laboriosam unde repellat id expedita quae quisquam libero officia consequatur. </p>
					<ul class="list-inline wow fadeInUp" data-wow-duration=".5s" data-wow-delay=".7s">
						<li class="list-inline-item">
							<a href="https://themefisher.com/" target="_blank" class="btn btn-main">Download More</a>		
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>	