<div class="rev_slider_wrapper fullwidthbanner-container">
    <!-- the ID here will be used in the inline JavaScript below to initialize the slider -->
    <div id="rev_slider_1" class="rev_slider" data-version="5.4.5" style="display:none">
        <ul>
            <!-- *********************** -->
            <!-- Slides to be added here -->
            <!-- *********************** -->
            <li data-transition="random-static" data-delay="6000">
                <!-- Text Layer with Fade-In Transition -->
                <!-- SLIDE'S MAIN BACKGROUND IMAGE -->
                <div class="opacity-extra-medium bg-black position-relative z-index-1"></div>
                <img src="images/slider/slider-bg-1.jpg" alt="Sky" class="rev-slidebg">
                <!-- Start New layer -->
                <div class="tp-caption tp-resizeme z-index-1" data-frames='[{"delay":1000,"speed":1500,"frame":"0","from":"x:[175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:1;","mask":"x:[-100%];y:0;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                    data-textAlign="['center']" data-lineheight="['60', '32', '32', '24']" data-visibility="['on', 'on', 'on', 'on']"
                    data-x="center" data-y="center" data-voffset="['-40']" data-fontsize="['60', '24', '22', '18']" data-color="['#FFF', '#FFF', '#000', '#000']"
                    style="z-index: 7;font-family: 'Catamaran', sans-serif; font-weight: 700; letter-spacing:2px; padding: 0 20px;">
                    We Love To Make Brands Grow
                </div>
                <!-- END LAYER -->
                <!-- Start New layer -->
                <div class="tp-caption tp-resizeme z-index-1" data-frames='[{"delay":1500,"speed":2000,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power4.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                    data-textAlign="['center']" data-lineheight="['35']" data-visibility="['on', 'on', 'on', 'on']" data-x="center" data-y="center" data-voffset="['70']" data-fontsize="['25','25','50','50']" data-color="['#FFF']" style="z-index: 7;">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod,
                    <br> veritatis tempore nostrum id officia quaerat eum corrupti,
                    <br> ipsa aliquam velit.</div>
                <!-- END LAYER -->
                <a href="contact.html" class="tp-caption btn btn-main" data-x="['center']" data-y="['center']" data-whitespace="nowrap" data-visibility="['on', 'on', 'on', 'on']"
                    data-type="text" data-voffset="['190']" data-responsive_offset="on" data-responsive="off" data-frames='[{"delay":2500,"speed":1000,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                    data-textAlign="['center']" data-basealign="slide">Contact Us</a>
            </li>
            <!-- MINIMUM SLIDE STRUCTURE -->
            <li data-transition="random-static" data-delay="6000">
                <!-- SLIDE'S MAIN BACKGROUND IMAGE -->
                <img alt="Ocean" class="rev-slidebg" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" src="images/slider/slider-bg-2.jpg"
                    alt="Ocean" class="rev-slidebg">
                <!-- Start New layer -->
                <div class="tp-caption tp-resizeme z-index-1" data-frames='[{"delay":1000,"speed":1500,"frame":"0","from":"x:[175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:1;","mask":"x:[-100%];y:0;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                    data-textAlign="['center']" data-lineheight="['70', '32', '32', '24']" data-visibility="['on', 'on', 'on', 'on']" data-x="center"
                    data-y="center" data-voffset="['-40']" data-fontsize="['60', '24', '22', '18']" data-color="['#FFF', '#FFF', '#000', '#000']"
                    style="z-index: 7;font-family: 'Catamaran', sans-serif; font-weight: 700; letter-spacing:2px; padding: 0 20px;">
                    Make A Masterpiece With Us
                </div>
                <!-- END LAYER -->
                <!-- Start New layer -->
                <div class="tp-caption tp-resizeme z-index-1" data-frames='[{"delay":1500,"speed":2000,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power4.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                    data-textAlign="['center']" data-lineheight="['35']" data-visibility="['on', 'on', 'on', 'on']" data-x="center" data-y="center" data-voffset="['70']" data-fontsize="['25','25','50','50']" data-color="['#FFF']" style="z-index: 7;">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod,
                    <br> veritatis tempore nostrum id officia quaerat eum corrupti,
                    <br> ipsa aliquam velit.</div>
                <!-- END LAYER -->
                <a href="contact.html" class="tp-caption btn btn-main" data-x="['center']" data-y="['center']" data-whitespace="nowrap" data-visibility="['on', 'on', 'on', 'on']"
                    data-type="text" data-voffset="['190']" data-responsive_offset="on" data-responsive="off" data-frames='[{"delay":2500,"speed":1000,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                    data-textAlign="['center']" data-basealign="slide">Hire Us</a>
            </li>
        </ul>
        <div class="tp-bannertimer  tp-bottom" style="height: 6px; background-color: rgba(0, 0, 0, 0.25);"></div>
    </div>
</div>