<!--
Start About Section
==================================== -->
<section class="service-2 section bg-gray">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="title text-center">
          <h4>How We Works</h4>
          <h2>Our work process</h2>
          <span class="border"></span>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum reiciendis quasi itaque, obcaecati atque
            sit!</p>
        </div>
      </div>
      <div class="col-8 mx-auto">
        <div class="row">
          <div class="col-md-6 p-0">
            <div class="service-item text-center">
              <span class="count">1.</span>
              <i class="tf-ion-ios-briefcase-outline"></i>
              <h4>Project Analysis</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vitae risus nec dui venenatis.</p>
            </div>
          </div>
          <div class="col-md-6 p-0">
            <div class="service-item text-center">
              <span class="count">2.</span>
              <i class="tf-ion-ios-alarm-outline"></i>
              <h4>Time Management</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vitae risus nec dui venenatis.</p>
            </div>
          </div>
          <div class="col-md-6 p-0">
            <div class="service-item text-center">
              <span class="count">3.</span>
              <i class="tf-ion-ios-email-outline"></i>
              <h4>Mail Support</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vitae risus nec dui venenatis.</p>
            </div>
          </div>
          <div class="col-md-6 p-0">
            <div class="service-item text-center">
              <span class="count">4.</span>
              <i class="tf-ion-ios-locked-outline"></i>
              <h4>Secure System</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vitae risus nec dui venenatis.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
<!-- End section -->