<!-- Start Team Skills
		=========================================== -->

<section class="team-skills section-sm" id="skills">
	<div class="container">
		<div class="row">
			<div class="col">
				<div class="title text-center">
					<h4>We are good at</h4>
					<h2>Skills.</h2>
					<span class="border"></span>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum reiciendis quasi itaque, obcaecati atque sit!</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-5">
				<div class="team-skills-content">
					<h2>Simple To Start</h2>
					<p>Vestibulum nisl tortor, consectetur quis imperdiet bium, letcu. Sedndime ntumiaculis ex, in faucibus lorem accumsan
						non. Donec mattis tin unt metuorbi sed tort Igor aman luctus dignissim. Vestibulum nisl tortor, consectetur quis imperdiet
						bium, letcu. Sedndime ntumiaculis ex, in faucibus lorem accumsan non.</p>
					<a href="" class="btn btn-main mt-20">Contact Us</a>
				</div>
			</div>
			<div class="col-md-6 col-md-offset-1">
				<div class="progress-block">
					<ul>
						<li>
							<span>Photoshop</span>
							<div class="progress">
								<div class="progress-bar" style="width: 90%;">
								</div>
							</div>
						</li>
						<li>
							<span>Web Application</span>
							<div class="progress">
								<div class="progress-bar" style="width: 85%;">
								</div>
							</div>
						</li>
						<li>
							<span>Andriod Application</span>
							<div class="progress">
								<div class="progress-bar" style="width: 92%;">
								</div>
							</div>
						</li>
						<li>
							<span>IOS Development</span>
							<div class="progress">
								<div class="progress-bar" style="width: 78%;">
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- End row -->
		<div class="row">
			<div class="col-md-12">
				<div id="clients-slider" class="clients-logo-slider">
					<img src="images/client-logo/logo1.png" alt="">
					<img src="images/client-logo/logo-2.png" alt="">
					<img src="images/client-logo/logo-3.png" alt="">
					<img src="images/client-logo/logo-4.png" alt="">
					<img src="images/client-logo/logo-5.png" alt="">
					<img src="images/client-logo/logo1.png" alt="">
					<img src="images/client-logo/logo-2.png" alt="">
					<img src="images/client-logo/logo-3.png" alt="">
					<img src="images/client-logo/logo-4.png" alt="">
					<img src="images/client-logo/logo-5.png" alt="">
				</div>

			</div>
		</div>
	</div>
	<!-- End container -->
</section>
<!-- End section -->