<div class="">
        
    <div id="slider" class="sl-slider-wrapper">

        <div class="sl-slider">
            <div class="sl-slide" data-orientation="horizontal" data-slice1-rotation="-25" data-slice2-rotation="-25" data-slice1-scale="2" data-slice2-scale="2">

                <div class="slider-bg bg-1" data-rjs="2"></div>

                <div class="slide-caption">
                    <div class="caption-content">
                        <h2>We Design, We Build <br> We Restore</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam, autem porro. Facere, modi sed sint perferendis sit placeat accusantium voluptate.</p>
                        <a href="#" class="btn">Join US</a>
                    </div>
                </div>
                
            </div>
            
            <div class="sl-slide" data-orientation="vertical" data-slice1-rotation="10" data-slice2-rotation="-15" data-slice1-scale="1.5" data-slice2-scale="1.5">
            
                <div class="slider-bg bg-2"></div>
                <div class="slide-caption">
                    <div class="caption-content">
                        <h2>World’s top <br>
                        digital production <br>
                        agency</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi eos sed, <br>  doloribus ab perspiciatis architecto beatae nisi atque alias modi.</p>
                        <a href="#" class="btn">Join US</a>
                    </div>
                </div>
                
            </div>
            
            <div class="sl-slide" data-orientation="horizontal" data-slice1-rotation="3" data-slice2-rotation="3" data-slice1-scale="2" data-slice2-scale="1">
                
                <div class="slider-bg bg-3"></div>
                <div class="slide-caption">
                    <div class="caption-content">
                        <h2>We are Blue, <br> A Template by Themefisher</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate, eum veniam neque deleniti dicta. Fuga.</p>
                        <a href="#" class="btn">Join US</a>
                    </div>
                </div>

            </div>

        </div><!-- /sl-slider -->

        <nav id="nav-arrows" class="nav-arrows hidden-xs hidden-sm visible-md visible-lg">
            <a href="javascript:;" class="sl-prev">
                <i class="tf-arrow-dotted-left"></i>
            </a>
            <a href="javascript:;" class="sl-next">
                <i class="tf-arrow-dotted-right"></i>
            </a>
        </nav>
                

        <nav id="nav-dots" class="nav-dots">
            <span class="nav-dot-current"></span>
            <span></span>
            <span></span>
        
        </nav>
    </div><!-- /slider-wrapper -->
            
</div>